<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0">
	<!-- wp:group {"tagName":"section","align":"full","className":"selah-section selah-tete-simple","layout":{"type":"default"}} -->
	<section class="wp-block-group alignfull selah-section selah-tete-simple"><!-- wp:post-title {"level":1,"className":"selah-affiche selah-affiche--xl"} /--></section>
	<!-- /wp:group -->

	<!-- wp:post-featured-image {"aspectRatio":"21/9","align":"full","className":"selah-section","style":{"spacing":{"padding":{"top":"var:preset|spacing|40"}}}} /-->

	<!-- wp:post-content {"align":"full","className":"selah-section selah-prose","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained","contentSize":"760px","justifyContent":"left"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
