<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0">
	<!-- wp:group {"tagName":"section","align":"full","className":"selah-section selah-tete-simple","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|70"}}},"layout":{"type":"default"}} -->
	<section class="wp-block-group alignfull selah-section selah-tete-simple" style="padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:group {"className":"selah-section__tete","layout":{"type":"default"}} -->
	<div class="wp-block-group selah-section__tete"><!-- wp:paragraph {"className":"selah-surtitre"} -->
	<p class="selah-surtitre">Recherche</p>
	<!-- /wp:paragraph -->

	<!-- wp:query-title {"type":"search","className":"selah-affiche"} /-->

	<!-- wp:search {"label":"Rechercher","showLabel":false,"placeholder":"Rechercher sur le site","buttonText":"Rechercher"} /--></div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"selah/liste-articles"} /--></section>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
