<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0">
	<!-- wp:group {"tagName":"article","align":"full","className":"selah-section selah-tete-simple","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained","contentSize":"760px","justifyContent":"left"}} -->
	<article class="wp-block-group alignfull selah-section selah-tete-simple" style="padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:group {"style":{"spacing":{"blockGap":"0.4rem"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
	<div class="wp-block-group"><!-- wp:post-date /-->

	<!-- wp:post-terms {"term":"category","prefix":"·"} /--></div>
	<!-- /wp:group -->

	<!-- wp:post-title {"level":1,"className":"selah-affiche"} /-->

	<!-- wp:post-featured-image {"aspectRatio":"16/9","style":{"border":{"radius":"6px"}}} /-->

	<!-- wp:post-content {"className":"selah-prose","layout":{"type":"constrained","contentSize":"760px","justifyContent":"left"}} /-->

	<!-- wp:pattern {"slug":"selah/fin-article"} /--></article>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
